<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>반갑습니다.</h1>
    <h3>우리나라는 <%- nation %></h3>
    <h4>
      <% const na = "가급적 3번째줄의 코드는 쓰지 않도록 권장함" %><%- na %>
    </h4>
    <h4><%= html %></h4>
    <h4>'%=' 는 태그를 문자 그대로 출력함</h4>
    <h4><%- html %></h4>
    <h4>'%-'는 태그를 태그 기능을 하도록 함</h4>
  </body>
</html>
